@model MyLibraryNew.Models.Book

@{
    ViewBag.Title = "Details";
}

<h1 class="text_color">Details</h1>

<div>
    <hr />
    <dl class="dl-horizontal" style="font-size: 2em">
        <dt>
            @Html.DisplayNameFor(model => model.Title):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPages):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progress):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>

    </dl>
</div>
<p>
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, new {@style="color:white" })</button>
    @Html.ActionLink("Back to List", "Index", null, new {@class = "backtoindex" })
</p>
